.MuiPaper-root {
  padding: 25px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  width: 25%;
}

.close-cart-button {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-left: auto;
}

.cart-header {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: rgba(89, 89, 89, 1);
}

.cart-items {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.macaron-cart-image-container {
  width: 25%;
  height: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 4px;
}

.macaron-cart-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.cart-middle {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.cart-mac-name {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  /* font-weight: bold; */
  color: rgba(93, 173, 147, 1);
}

.cart-mac-type {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.cart-item-quantity {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: bold;
}

.cart-remove-item {
  font-family: "Poppins", sans-serif;
  color: rgba(153, 153, 153, 1);
  font-size: 10px;
}

.cart-remove-item:hover {
  text-decoration: underline;
}

.cart-right {
  color: rgba(89, 89, 89, 1);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin-left: auto;
}

.cart-total {
  color: rgba(89, 89, 89, 1);
  /* font-size: 15px; */
  font-family: "Poppins", sans-serif;
  /* font-weight: 500; */
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.checkout-button {
  height: 48px;
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  background-color: rgb(27, 161, 116);
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 2px;
  font-family: "Poppins", sans-serif;
}

.checkout-button:hover {
  background: rgb(18, 104, 75);
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .MuiPaper-root {
    width: 250px;
  }
}
