.main {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.menu-title {
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: rgba(89, 89, 89, 1);
}

.each-macaron {
  display: flex;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(224, 224, 224);
  overflow: hidden;
}

.each-macaron:last-child {
  border-bottom: none;
}

.macaron-image {
  height: 160px;
  width: 220px;
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
}

.macaron-middle {
  height: 100%;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.menu-mac-name {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  color: rgba(93, 173, 147, 1);
}

.menu-mac-type {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding-bottom: 10px;
}

.menu-mac-description {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: rgba(89, 89, 89, 1);
}

.toggletext-btn {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding-top: 5px;
  color: rgba(59, 136, 115, 1);
}

.macaron-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 220px;
  height: auto;
  background-color: rgb(241, 238, 238);
  border-radius: 3px;
}

.menu-mac-price {
  color: rgba(89, 89, 89, 1);
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

.add-to-cart {
  height: 48px;
  display: flex;
  justify-content: center;
  width: 80%;
  color: white;
  background-color: rgb(27, 161, 116);
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 2px;
}

.add-to-cart > p {
  text-align: center;
}

.add-to-cart:hover {
  background: rgb(18, 104, 75);
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .each-macaron {
    height: 130px;
  }
  .macaron-middle {
    overflow: scroll;
  }
}
